@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  ngx-echarts-pie,
  ngx-echarts-bar,
  ngx-echarts-line,
  ngx-echarts-multiple-xaxis,
  ngx-echarts-area-stack,
  ngx-echarts-bar-animation,
  ngx-echarts-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;
  }

  /deep/ .echart {
    height: 100%;
    width: 100%;
  }
  .btn {
    font-size: 0.8rem;
  }
  nb-tabset {
    /deep/ ul li a {
      padding: 0.3rem;
    }

  }
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
  .notices{
    display: flex;
  }
  button{
    margin: .5rem;
  }
}
