<div class="row">
  <div class="col-md-3">
    <nb-card>
      <nb-card-header>학생회 소개</nb-card-header>
      <nb-card-body>학생회 소개 글</nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card size="small">
      <nb-tabset>
        <nb-tab tabTitle="집행부">
          <span>집행</span>
        </nb-tab>
        <nb-tab tabTitle="총무부">
          <span>총무</span>
        </nb-tab>
        <nb-tab tabTitle="홍보부">
          <span>홍보</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
</div>
