<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>공지사항</nb-card-header>
            <nb-card-body>
                <div *ngFor="let notice of notices | async" class="d-inline">
                    <button class="btn btn-success" (click)="showLargeModal(notice.title, notice.content)">{{notice.title}}</button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
            <div *ngFor="let intro of intros | async">

        <nb-card>
            <nb-card-header>학생회 소개</nb-card-header>
                    <nb-card-body>{{intro.content}}</nb-card-body>
        </nb-card>
    </div>

    </div>
    <div class="col-md-3">
        <nb-card size="small">
            <ngx-univcontacts></ngx-univcontacts>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>학생회비 사용 내역</nb-card-header>
            <nb-card-body><ngx-echarts-pie></ngx-echarts-pie></nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>공지사항 Inputs</nb-card-header>
            <nb-card-body>
                <div class="input-group">
                    <input [(ngModel)]="notice.title" type="text" placeholder="Title" class="form-control"/>
                </div>
                <div class="input-group">
                    <textarea [(ngModel)]="notice.content" rows="10" placeholder="Contents" class="form-control"></textarea>
                </div>
                <button (click)="addNotice()" type="submit" class="btn btn-success">Send</button>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Member Inputs</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputDuty">직책</label>
                            <input [(ngModel)]="member.duty" type="text" class="form-control" id="inputDuty" placeholder="직책">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputName">이름</label>
                            <input [(ngModel)]="member.name" type="text" class="form-control" id="inputName" placeholder="이름">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input [(ngModel)]="member.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputSid">학번</label>
                            <input [(ngModel)]="member.sid" type="text" class="form-control" id="inputSid" placeholder="학번">
                        </div>
                    </div>
                </div>
                <button (click)="addMember()" type="submit" class="btn btn-primary">Submit</button>
            </nb-card-body>
        </nb-card>
    </div>
</div>
