
 <!--인증되었을 때(여기 헤더부분 레이아웃이 좀 이상해짐)-->
 <div *ngIf="afAuth.authState | async; let user;  else guest"> 
    
<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">ngx-<span>admin</span></div>
  </div>
  <!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<nb-actions>
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>
  <nb-action>
    <nb-user [menu]="userMenu" [name]="user?.name" [picture]="user?.picture" (menuClick)="onMenuClick($event)"></nb-user>
  </nb-action>  
  <nb-action (click)="logout()">
   <nb-user [menu]="userMenu" name="{{ user.displayName }}" [picture]="user?.picture"></nb-user>
 </nb-action> 
  <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
  <nb-action class="control-item" icon="nb-email"></nb-action>
  <nb-action class="control-item">
    <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
  </nb-action>
</nb-actions>
</div>

<!--인증안되었을 때-->
 <ng-template #guest> 
    
<div class="header-container"
[class.left]="position === 'normal'"
[class.right]="position === 'inverse'">
<div class="logo-containter">
<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
<div class="logo" (click)="goToHome()">ngx-<span>admin</span></div>
</div>
<!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<nb-actions
size="medium"
class="header-container"
[class.right]="position === 'normal'"
[class.left]="position === 'inverse'">
<nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>

<nb-action (click)="login()">
<nb-user [menu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
</nb-action> 

<nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
<nb-action class="control-item" icon="nb-email"></nb-action>
<nb-action class="control-item">
<nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
</nb-action>
</nb-actions>
</ng-template>
