

 <div *ngIf="afAuth.authState | async; let user; then auth else guest">
</div>

 <!--인증되었을 때-->
<ng-template #auth >
<div class="header-container"
[class.left]="position === 'normal'"
[class.right]="position === 'inverse'" style="flex-grow: 8">
<div class="logo-containter">
<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
<div class="logo" (click)="goToHome()"><span>소프트웨어융합대학 통합 관리</span></div>
</div>
</div>

<nb-actions
 size="medium"
 class="header-container"
 [class.right]="position === 'normal'"
 [class.left]="position === 'inverse'">

<nb-action (click)="logout()" *ngIf="afAuth.authState | async; let user;">
    <nb-user [menu]="userMenu" name="{{ user.displayName }}" [picture]="user?.picture"></nb-user>
  </nb-action> 

</nb-actions>
</ng-template>



<!--인증안되었을 때-->
 <ng-template #guest> 
    
<div class="header-container"
[class.left]="position === 'normal'"
[class.right]="position === 'inverse'">
<div class="logo-containter">
<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
<div class="logo" (click)="goToHome()">ngx-<span>admin</span></div>
</div>
</div>

<nb-actions
 size="medium"
 class="header-container"
 [class.right]="position === 'normal'"
 [class.left]="position === 'inverse'">

<nb-action (click)="login()">
<nb-user [menu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
</nb-action> 
</nb-actions>
</ng-template>
