<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="소융">
          <div *ngFor="let uninotice of uninotices | async" class="d-inline">
              <button class="btn btn-success" (click)="showLargeModal(uninotice.title, uninotice.content)">{{uninotice.title}}</button>
          </div>
        </nb-tab>
        <nb-tab tabTitle="소프트">
          <div *ngFor="let softnotice of softnotices | async" class="d-inline">
            <button class="btn btn-success" (click)="showLargeModal(softnotice.title, softnotice.content)">{{softnotice.title}}</button>
        </div>        
      </nb-tab>
        <nb-tab tabTitle="ICT">
          <div *ngFor="let ictnotice of ictnotices | async" class="d-inline">
            <button class="btn btn-success" (click)="showLargeModal(ictnotice.title, ictnotice.content)">{{ictnotice.title}}</button>
        </div>        
      </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      <div class = "row">
        <div class="col-md-6 col-lg-6 no-padding-right">
          <nb-card size="small">
            <nb-card-header>내가 가입한 학회</nb-card-header>
            <nb-card-body>
              <!-- <div *ngFor="let academy of academys | async"> -->
                  <nb-menu [items]="academy_menu" [tag]="academy"  *ngIf="afAuth.authState | async;">
                    </nb-menu>
              <!-- </div> -->
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-6 col-lg-6 no-padding-left">
          <nb-card size="small">
            <nb-card-header>공지사항</nb-card-header>
            <nb-card-body>
              <div><p>{{content}}</p></div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </nb-card>
  </div>
</div>




