<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      <nb-tabset>
        <nb-tab tabTitle="소융">
          <div _ngcontent-c19="" class="container-btn">
            <button _ngcontent-c19="" class="btn btn-success btn-demo">신입생환영회</button>
            <button _ngcontent-c19="" class="btn btn-warning btn-demo">중간고사 야식사업</button>
            <button _ngcontent-c19="" class="btn btn-primary btn-demo" (click)="showStaticModal()">Static modal</button>
          </div>
        </nb-tab>
        <nb-tab tabTitle="소프트">
          <span>Content #2</span>
        </nb-tab>
        <nb-tab tabTitle="ICT">
          <span>Content #3</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      <div class = "row">
        <div class="col-md-6 col-lg-6 no-padding-right">
          <nb-card size="small">
            <nb-card-header>내가 가입한 학회</nb-card-header>
            <nb-card-body>
              <!-- <div *ngFor="let academy of academys | async"> -->
                  <nb-menu [items]="academy_menu" [tag]="academy"  *ngIf="afAuth.authState | async;">
                    </nb-menu>
              <!-- </div> -->
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-6 col-lg-6 no-padding-left">
          <nb-card size="small">
            <nb-card-header>공지사항</nb-card-header>
            <nb-card-body>
              <div><p>{{content}}</p></div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </nb-card>
  </div>
</div>




